@import '../../styles/constants.module.scss';

.header {
  display: flex;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding ease $timeAnimation !important;

    &-open {
      padding-left: calc(#{$drawerWidth} + 24px) !important;
    }
  
    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    &-icon {
      color: $primaryWhite;
      padding-right: 15px;
    }
  }
}
